<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrador\AppData\Local\Programs\Python\Python311\python.exe|C:\inetpub\wwwroot\DAW-ERRONKA-1\Luxury_Durumgo\Luxury_Durumgo\start_django.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>