{% extends 'base.html' %}
{% load static %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/addproductstyle.css">{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="addproducts-form">
                    <h2 class="text-center">Add Deskontuak</h2>
                    <form id="addproducts" action="{% url 'adddeskontuak_egin' %}" method="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <input name="izena" type="text" class="form-control" placeholder="Name" required="required">
                        </div>
                        <div class="form-group">
                            <input name="kodigoa" type="text" class="form-control" placeholder="Code" required="required">
                        </div>
                        <div class="form-group">
                            <input name="deskontua" type="text" class="form-control" placeholder="Sale" required="required">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}