
    {% extends 'base.html' %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/checkoutstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% endblock %}
    {% block content %}
    <div class="w-75 mt-5 border checkout px-3">
        <div class="row">
            <div class="col-xl-7 pl-4 pt-1 cart">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Shopping Cart</h1>
                    </div>
                    <div class="col-md-12 lista-checkout">
                        {% if saskia %}
                        <table class="carrito-tabla mb-3">
                            <thead>
                                <tr>
                                    <th class="producto">Producto</th>
                                    <th class="cantidad">Cantidad</th>
                                    <th class="precio-unitario">Precio Unitario</th>
                                    <th class="subtotal">Subtotal</th>
                                    <th class="eliminar">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if user_id and perfil and saskia %}
                                {% for item in saskia %}
                                <tr class="checkout-item" data-idproduct="{{ item.produktua.id }}">
                                    <td class="producto">
                                        <div class="carrito-producto-info">
                                            <img src="../static/img/{{ item.produktua.argazkia }}" alt="{{ item.produktua.izena }}" class="carrito-item-img">
                                            <span>{{ item.produktua.izena }}</span>
                                        </div>
                                    </td>
                                    <td class="cantidad text-center">
                                        <button class="carrito-item-decrease"><i class="bi bi-dash-circle"></i></button>
                                        <input type="number" value="{{ item.kantitatea }}" class="carrito-item-input carrito-form" min="1" max="50">
                                        <button class="carrito-item-increase"><i class="bi bi-plus-circle"></i></button>
                                    </td>
                                    <td class="precio-unitario text-center">{{ item.produktua.prezioa }}€</td>
                                    <td class="subtotal text-center">XXXX€</td>
                                    <td class="eliminar text-center">
                                        <button class="carrito-item-remove">Eliminar</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            {% else %}
                                <!-- Si 'saskia' está vacío, muestra este mensaje -->
                                <p>No hay productos en tu carrito.</p>
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-xl-5 payment">
                <div class="col-md-12">
                    <h1>
                        Payment Info.
                    </h1>
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-6 m-auto">
                                <div class="w-75 checkout-payment-method m-auto text-center">
                                    <i class="bi bi-credit-card"></i>
                                    <button type="button" class="checkout-btn">Credit Card</button>
                                </div>
                            </div>
                            <div class="col-md-6 m-auto">
                                <div class="w-75 checkout-payment-method text-center">
                                    <i class="bi bi-paypal"></i>
                                    <button type="button" class="checkout-btn">PayPal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form id="delivery-form">
                            <div class="row">
                                <!-- name -->
                                <div class="col-md-12 mb-1">
                                    <input type="text" class="checkout-form w-100" id="name" name="name" placeholder="Name">
                                </div>
                    
                                <!-- city and postal code -->
                                <div class="col-md-12 mb-1">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <input type="text" class="checkout-form w-100" id="city" name="city" placeholder="City name">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="checkout-form w-100" id="postal-code" name="postal-code" placeholder="Postal Code">
                                        </div>
                                    </div>
                                </div>
                                <!-- Address -->
                                <div class="col-md-12 mb-1">
                                    <input type="text" class="checkout-form" id="address" name="address" placeholder="Address">
                                </div>
                                <!-- Additional information -->
                                <div class="col-md-12 mb-1">
                                    <input type="text" class="checkout-form" id="postal-code" name="additional-information" placeholder="Additional information">
                                </div>
                                <!-- submit -->
                                <div class="col-md-12 mb-2 mt-1">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="spinner-border text-light d-none" role="status"></div>
                                        <button type="submit" class="btn checkout-submit ml-2">Calculate delivery</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="row discount-total border rounded mb-3 mx-1">
                        <div class="col-md-6">
                            <div class="discount">
                                <h4>Discount</h4>
                                <p>Enter your coupon code if you have one.</p>
                                <input type="text" class="checkout-form" id="discount" placeholder="Coupon code">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="total pl-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-7"><h6>Products:</h6></div>
                                            <div class="col-5"><h6 class="products-subtotal">XXXX€</h6></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-7"><h6>Delivery fee:</h6></div>
                                            <div class="col-5"><h6 class="delivery-fee">XXXX€</h6></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-7"><h6>Discount:</h6></div>
                                            <div class="col-5"><h6>XXXX€</h6></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-5"><h5>Total:</h5></div>
                                            <div class="col-7 text-right"><h5 class="p-total">XXXX€</h5></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-5"></div>
                                            <div class="col-7"><button type="button" class="btn checkout-submit">Checkout</button></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="../static/js/indexscrpits.js"></script>
    {% endblock %}
