{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/checkoutstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Luxury Dürümgo</title>
</head>
<body>
    

    <nav class="navbar navbar-expand-lg navbar-light">
        <img class="navbar-brand" src="../static/img/LOGO2.png"></img>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produktuak <span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Kebab</a>
                        <a class="dropdown-item" href="#">Durum</a>
                        <a class="dropdown-item" href="#">Pizza</a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- This will push the login element to the right -->
                <li class="nav-item">
                    <img class="nav-link" src="../static/img/carrito1.png"></img>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    

    <div class="w-75 mt-5 border checkout px-3">
        <div class="row">
            <div class="col-md-8 pl-4 pt-1 cart">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Shopping Cart</h1>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-dark rounded">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                    <div class="col-md-12">
                        <div class="row discount-total border rounded mb-3 mx-1">
                            <div class="col-md-8">
                                <div class="discount">

                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="total">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-4 border-left payment">
                <div class="col-md-12">
                    <h1>
                        Payment Info.
                    </h1>
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-6 m-auto">
                                <div class="w-75 checkout-payment-method m-auto text-center">
                                    <i class="bi bi-credit-card"></i>
                                    <button type="button" class="checkout-btn">Credit Card</button>
                                </div>
                            </div>
                            <div class="col-md-6 m-auto">
                                <div class="w-75 checkout-payment-method text-center">
                                    <i class="bi bi-paypal"></i>
                                    <button type="button" class="checkout-btn">PayPal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form>
                            <div class="row">
                                <!-- name -->
                                <div class="col-md-12 mb-1">
                                    <input type="text" class="checkout-form w-100" id="name" placeholder="Name">
                                </div>
                    
                                <!-- city and postal code -->
                                <div class="col-md-12 mb-1">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" class="checkout-form w-100" id="city" placeholder="City name">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="checkout-form w-100" id="postal-code" placeholder="Postal Code">
                                        </div>
                                    </div>
                                </div>
                                <!-- Address -->
                                <div class="col-md-12 mb-1">
                                    <input type="text" class="checkout-form" id="address" placeholder="Address">
                                </div>
                                <!-- Additional information -->
                                <div class="col-md-12 mb-1">
                                    <input type="text" class="checkout-form" id="postal-code" placeholder="Additional information">
                                </div>
                                <!-- submit -->
                                <div class="col-md-12 mb-1">
                                    <div class="text-right">
                                        <button type="submit" class="btn checkout-submit">Check Out</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="copyright">
            © Copyright 2023 Luxury Dürümgo
        </div>
        <address>
          <p>Montevideo Etorbidea, 23</p>
          <p>Durango</p>
        </address>
        <div class="social">
          <img src="../static/img/instagram.png" style="width: 65px; height: 65px;"/> <img src="../static/img/twitter.png" style="width: 50px; height: 50px;"/>
          <img src="../static/img/facebook.png" style="width: 50px; height: 50px;"/>
        </div>
    </footer>

      <script src="../static/js/indexscrpits.js"></script>
</body>
</html>