    {% extends 'base.html' %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/contactstyle.css">   
    {% endblock %}
    {% block content %}
    <div class="background-image">
        <div class="text-container">
            <p class="gradient-text">CONTACT US</p>
        </div>
    </div>
    
    <div class="row mt-5 w-75 contact-info">
        <div class="col-md-12 text-center">
            <p class="get-in-touch">Get in touch with us!</p>
        </div>
        
        <div class="col-md-4 text-center">
            <div class="col-12">
                <p><i class="bi bi-phone custom-icon"></i></p>
            </div>
            <div class="col-12 subtitle">
                PHONE
            </div>
            <div class="col-12">
                Phone: +34 987654321<br>
                Phone: +34 654654654
            </div>
        </div>
        <div class="col-md-4 text-center contact-info-middle">
            <div class="col-12">
                <p><i class="bi bi-geo-alt"></i></p>
            </div>
            <div class="col-12 subtitle">
                ADDRESS
            </div>
            <div class="col-12">
                Montevideo Etorbidea, 23, 48200 Durango, Bizkaia
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="col-12">
                <p><i class="bi bi-envelope"></i></p>
            </div>
            <div class="col-12 subtitle">
                EMAIL
            </div>
            <div class="col-12">
                support@luxurydurumgo.com<br>
                pabloescobar@gmail.com
            </div>
        </div>
    </div>

    <div class="text-center form-title">
        <p class="mb-0 mt-4">IF YOU GOT ANY QUESTIONS</p>
        <p class="mt-0">PLEASE DO NOT HESITATE TO SEND US A MESSAGE.</p>
    </div>

    <form class="w-50">
        <div class="form-group">
            <input type="text" class="contact-form" id="nombre" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="contact-form" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="contact-form" id="nombre" placeholder="Subject">
        </div>
        <div class="form-group">
            <textarea class="contact-form" id="mensaje" rows="4" placeholder="Message"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn contact-submit">SEND MESSAGE</button>
          </div>
    </form>


    <div class="w-75 text-center my-5 p-3 contact-map">
        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Montevideo%20Etorbidea,%2023,%2048200%20Durango,%20Bizkaia+(Luxury%20Durumgo)&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </div>

      <script src="../static/js/indexscrpits.js"></script>
      {% endblock %}