{% extends 'base.html' %}
{% load static %}
    {% block style %}<link rel="stylesheet" href="../static/css/styles.css">{% endblock %}
    {% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="carousel-content">
            <!-- Carousel content will be loaded here -->
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <script src="../static/js/indexscrpits.js"></script>

    <div class="row info">
      <div class="col-5">
        <img src="../static/img/jangela.jpg" class="info-img">
      </div>
      <div class="col-7 info-text">
        <p>In the exquisite kingdom of <strong>Luxury Dürümgo</strong>, we extend a warm invitation for you to immerse yourself in a culinary zenith of sophistication and opulence, where the art of kebab gastronomy reaches new heights. Here, gold becomes our hallmark, a precious element that, with exquisite skill, enhances every creation that comes out of our kitchen.</p>
        <br>
        <p>Our menu is a masterpiece of fusions, where ancestral tradition meets luxury in its most splendid form. Every bite is a symphony of flavors that transports diners on an unparalleled culinary journey.</p>
        <br>
        <p>The service, worthy of the highest category, is a ballet of attention and courtesy, where every detail is orchestrated with precision, ensuring that your visit is memorable in every aspect. The sensory environment, meticulously designed, is the perfect backdrop for this incomparable culinary experience, where luxury and elegance converge in a dance of delight for the senses.</p>
        <br>
        <p><strong>Luxury Dürümgo</strong> is much more than a restaurant; it is a sanctuary of haute cuisine, a place where culinary refinement is elevated to an unmatched level. We invite you to be part of this unique experience, where culinary excellence merges with the beauty of luxury, creating a gastronomic symphony that will captivate your palate and your soul.</p>
      </div>
        

    </div>

    <div class="container">
        <h3>Most Popular Products:</h3>
        <div class="row">

            {% for produktua in produktuak %}
            <div class="col-md-4 mb-4">
              <div class="card index-produktua">
                <img src="../static/img/{{ produktua.argazkia }}" class="card-img-top" alt="{{ produktua.izena }}">
                <div class="card-body">
                  <h5 class="card-title">{{ produktua.izena }}</h5>
                  <p class="card-text">{{ produktua.deskripzioa }}</p>
                  <p class="card-text">{{ produktua.argazkia }}</p>
                  <p class="card-text">${{ produktua.prezioa }}</p>
                  <a href="#" class="btn btn-primary" style="    background-color: #FFD95A;border: 1px solid #FFD95A; border-radius: 5px;padding: 10px 20px;font-size: 18px;color: #000000;transition: background-color 0.3s ease;font-family: 'luxurious roman', serif;"><i class="bi bi-cart-plus"></i></a>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </div><div class="row">
            {% endif %}
          {% endfor %}

        </div>
    </div>
    {% endblock %}
