{% extends 'base.html' %}
{% load static %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/deskontuak.css">
    <link rel="stylesheet" href="../static/css/updateprofile.css">
    
    {% endblock %}
    {% block content %}

<h1 style="color: white">Manage Sales</h1>
<div class="container">
    <table class="custom-table">
        <thead>
            <tr>
                <th style="color: white">Name</th>
                <th style="color: white">Code</th>
                <th style="color: white">Sales</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for deskontua in deskontuak %}
            <tr>
                <td>{{ deskontua.izena }}</td>
                <td>{{ deskontua.kodigoa }}</td>
                <td>{{ deskontua.deskontua }}</td>
                <td><a class="btn btn-danger" href="{% url 'deletedeskontuak' deskontua.id %}">Delete</a></td>
                <td><a class="btn btn-primary" href="{% url 'updatedeskontuak' deskontua.id %}">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <a class="btn btn-success" href="{% url 'adddeskontuak' %}">Add</a>
    {% endblock %}
