body {
    font-family: "luxurious roman", serif;
}

.checkout {
    color: #D9D9D9;
    background-color: #161617;
    border-radius: 20px;
}

.discount-total{
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.discount{
    padding-right: 10px;
}

.total{
    padding-left: 10px;
    border-left: 1px solid #D9D9D9;
    height: 100%;
}

.payment{
    background-color: #040D12;
    border-radius: 20px;
}

.checkout-payment-method {
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.checkout-btn {
    border: none;
    background-color: #161617;
    color: #D9D9D9;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
}

.checkout-form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #161617;
    width: 100%;
    border: none;
    color: #AAA;
    border-radius: 3px;
}

.checkout-form::placeholder {
    color: #555;
    font-family: "luxurious roman", serif;
    font-size: 14px;
}

.checkout-submit {
    height: 100%;
    width: 100%;
    background-color: #FFD95A;
    color: #161617;
    font-weight: bold;
}


/* Estilo general de la tabla */
.carrito-tabla {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #FFD95A; /* Texto dorado */
    font-family: "luxurious roman", serif;
}

/* Cabecera de la tabla */
.carrito-tabla thead {
    background-color: #333; /* Fondo más oscuro para la cabecera */
}

.carrito-tabla th, .carrito-tabla td {
    padding: 10px;
    border: 1px solid #FFD95A; /* Bordes dorados */
}

/* Estilos para los botones y entradas */
.carrito-tabla button {
    background-color: #FFD95A; /* Botones dorados */
    color: #1a1a1a; /* Texto oscuro */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carrito-tabla button:hover {
    background-color: #e6c44d; /* Color dorado ligeramente más claro al pasar el mouse */
}

.carrito-tabla .carrito-item-input {
    /* width: 50px; */
    padding: 5px;
    border: 1px solid #FFD95A;
    background-color: #262626; /* Fondo oscuro para las entradas */
    color: #FFD95A; /* Texto dorado */
}

/* Alineación del total a la derecha */
.carrito-total-price {
    text-align: right;
}

.carrito-producto-info {
    display: flex; /* Establece Flexbox */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    justify-content: flex-start; /* Alinea horizontalmente los elementos al inicio */
    gap: 10px; /* Espacio entre la imagen y el texto */
}

.carrito-item-img {
    max-width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px;
}

.carrito-tabla th.producto,
.carrito-tabla td.producto { width: 35%; }

.carrito-tabla th.cantidad,
.carrito-tabla td.cantidad { width: 25%; }

.carrito-tabla th.precio-unitario,
.carrito-tabla td.precio-unitario { width: 15%; }

.carrito-tabla th.subtotal,
.carrito-tabla td.subtotal { width: 15%; }

.carrito-tabla th.eliminar,
.carrito-tabla td.eliminar { width: 10%; }


.modal-custom .modal-content {
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Letras blancas */
}
.modal-custom .modal-header,
.modal-custom .modal-footer {
    border-color: #444; /* Borde más claro para header y footer */
}
.modal-custom .form-control {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}
.modal-custom .form-control::placeholder {
    color: #999;
}