body {
    font-family: Helvetica, Arial, sans-serif;
}

.checkout {
    color: #D9D9D9;
    background-color: #161617;
    border-radius: 20px;
}

.discount-total{
    height: 100px;
}



.cart{
    
}

.payment{
    background-color: #040D12;
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.checkout-payment-method {
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.checkout-btn {
    border: none;
    background-color: #161617;
    color: #D9D9D9;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
}

.checkout-form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #161617;
    width: 100%;
    border: none;
    color: #AAA;
    border-radius: 3px;
}

.checkout-form::placeholder {
    color: #555;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.checkout-submit {
    background-color: #FFD95A;
    color: #161617;
    font-weight: bold;
}